/* MAIN PAGE CSS */

.mainbody {
  font-family: Inter, sans-serif;
  margin: 4;
  font-weight: bold;
  padding: 10px;
  background: #000000;
  color: #edebeb;
}

.main {
  margin-left: 165px;
  transition: 0.3s ease;
}

.main.full-width {
  margin-left: 10px;
  padding-top: 20px;
}

.top-search {
  position: sticky;
  top: 0;
  left: 60px;
  z-index: 10;
  background: #000000fc;
  padding: 0px 1px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.top-search input {
  flex: 1;
  max-width: 350px;
  padding: 10px 12px;
  border: 2px solid #ffffff;
  background: #000000;
  color: white;
}

#aorb {
  width: 79px;
  padding: 1px;
  border: 2px solid #000000;
  background: #000000;
  color: #fff;
  display: flex;
}

.navbar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #000;
  border-right: 4px solid #ffffff;
  overflow-x: hidden;
  padding-top: 15px;
  flex-direction: column;
  gap: 40px;
}

.navbar a {
  padding: 8px 12px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.navbar a.active,
.navbar a:hover {
  color: #000000;
  background: #ffffff;
}


input {
  width: 300px;
  padding: 10px 5px;
  float: left;
  color: #ffffffcf;
  border: 0;
  background: transparent;
  outline: none;
}

.h2 {
  font-size: 19px;
  background-color: #000000;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin-top: -1px;
  background-color: #000000;
}

h3 {
  border-bottom: 2px dotted #ffffff;
  margin-top: -40px;
}

button {
  background-color: #000000;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  border: 4px solid #ffffff;
  border-width: medium;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  padding: 5px 5px;
  transition: 0.3s ease;
}

button:hover {
  background-color: #ffffff;
  color: #000;
}

.closeBtn {
  background-color: #1a3bf9;
  float: right;
}

.gallery-grid {
  flex-wrap: wrap;
  column-width: 240px;
  gap: 18px;
  padding: 10px;
  overflow: hidden;
  margin-left: 0 !important;
  padding-left: 0 !important;
}


@media (min-width: 2000px) {
  .gallery-grid {
    column-count: 8;
  }
}

@media (min-width: 2400px) {
  .gallery-grid {
    column-count: 9;
  }
}

@media (max-width: 1600px) {
  .gallery-grid {
    column-count: 6;
  }
}

@media (max-width: 1200px) {
  .gallery-grid {
    column-count: 5;
  }
}

@media (max-width: 768px) {
  .gallery-grid {
    column-count: 3;
  }
}

@media (max-width: 480px) {
  .gallery-grid {
    column-count: 1;
  }
}

.myModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin: auto;
  display: block;
  object-fit: contain;
  animation: zoom 0.6s;
}


.photo-container {
  display: inline-block;
  position: relative;
  width: 250px;
  margin-bottom: 15px;
  background: #000000;
  break-inside: avoid;
  border: 4px solid #ffffff;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.photo-container .delete-button {
  display: none;
  position: absolute;
  top: 2px;
  right: -16px;
  transform: translateX(-50%);
  padding: 2px 1px;
  font-weight: bold;
  font-size: 10px;
  background: #ffffffd9;
  color: #000000;
  border: solid;
  cursor: pointer;
}

.photo-container:not(.logged-in) .delete-button {
  display: none;
}

.photo-container.logged-in:hover .delete-button {
  display: block;
  transition: .5s ease;
}

.photo-container input[type="checkbox"] {
  appearance: none;
  position: absolute;
  border: 4px solid #000000;
  background-color: white;
  top: 3px;
  left: 2px;
  width: 25px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, background-color 0.2s;
}

.photo-container:hover input[type="checkbox"] {
  display: block;
  opacity: 1;
}

.photo-container input[type="checkbox"]:checked {
  background-color: #000000;
  display: block;
  border: 3px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  transform: scale(1);
  width: 25px;
}

.photo-container:hover {
  transform: translateY(5px);
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 10;
  right: 20;
  z-index: 13;
  border: 4px solid;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  padding: 5px 5px;
  font-size: 17px;
}

#topBtn:active {
  box-shadow: 0 5px #ffffff;
  transform: translateY(4px);
}

#groupBtn {
  padding: 4px;
  border: 2px solid;
  left: 1;
  outline: 3px solid;
  background-color: #ffffff;
  color: #000000;
  border: block;
  font-size: 35px;
  bottom: 2;
  cursor: pointer;
  z-index: 1000;
}

.loader {
  border: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
  display: none;
}

.tags-tooltip {
  position: relative;
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.tags-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000c6;
  color: white;
  padding: 4px;
  text-align: center;
  font-size: 15px;
  font-weight: 750;
  opacity: 0;
  pointer-events: none;
}

#img01 {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}


.photo-container:hover .tags-overlay {
  opacity: 1;
}

/* MAIN PAGE CSS */
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/* UPLOAD PAGE CSS */

.center-wrapper {
  margin: 1em;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.form {
  flex-flow: row wrap;
  background: #000000;
  color: #ffffff87;
  padding: 20px;
  border: 4px solid #ffffff;
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  justify-content: center;
}

.form h1 {
  font-size: 30px;
  color: #edebeb;
  margin-top: -20px;
  text-align: center;
}

#mainRow {
  display: flex;
  gap: 2px;
}

#imgContainer {
  padding: 10px;
  max-width: 800px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

#rightContainer {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.back-link {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s;
  border: 4px solid #ffffff;
  padding: 3px 5px;
  max-width: 132px;
}

.back-link:hover {
  border: 4px solid #000000;
  background-color: #ffffff;
  color: #000;
}

input[type="file"] {
  display: none;
}

.file-upload {
  font-size: 17px;
  text-align: center;
  color: white;
  border: 3px solid #ffffff;
  padding: 6px 10px;
  cursor: pointer;
  max-width: 92px;
}

.file-upload:hover {
  background: #ffffff;
  color: #000000;
}

#preview {
  max-width: 500px;
  max-height: 800px;
  height: auto;
}

#tagsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#tagsContainer input {
  width: 250px;
}

.tagsinput {
  float: left;
  max-width: 300px;
  padding: 10px;
  font-size: 18px;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
}

#selectContainer {
  width: 250px;
  padding: 10px;
  border: 2px solid #000000;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#selectContainer select {
  appearance: none;
  padding: 3px 5px;
  border: 2px solid #ffffff;
  background: #111;
  color: #fff;
  font-size: 18px;
  width: 80px;
  cursor: pointer;
  outline: none;
}

#uploadBtn {
  border: 4px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}

#uploadContainer {
  display: flex;
  justify-content: center;
}

#uploadmessage {
  color: #ffffff;
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: -15px;
  flex: 1;
}

.loader {
  width: 5px;
  height: 5px;
  border-radius: 5%;
  margin-top: 1px;
  margin-bottom: -15px;
  background-color: #fff;
  box-shadow: 3px 0 #ffffff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

#loader,
#uploadmessage {
  text-align: center;
  margin: 0 auto;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 22px 0 #FFF2, -22px 0 #FFF;
  }

  50% {
    background-color: #FFF;
    box-shadow: 22px 0 #FFF2, -22px 0 #FFF2;
  }

  100% {
    background-color: #FFF2;
    box-shadow: 22px 0 #FFF, -22px 0 #FFF2;
  }
}


/* UPLOAD PAGE CSS */
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/* GROUP MODE CSS */

#id01 {
  font-size: 15px;
  font-family: Inter, sans-serif;
  background: transparent;
  border: none;
  background-color: #000000b2;
  position: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
}


#formHeader {
  margin-bottom: 15px;
  border-bottom: 4px solid #dedede;
  padding: 1px;
  font-size: 15px;
  font-weight: 300;
}

.cancelbtn {
  background-color: #000000;
  border: solid;
  border-width: thick;
  color: #fffcfc;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  padding: 1px 3px;
  margin-left: 96%;
  transition: 0.3s ease;
}

.modal-inner {
  display: flex;
  gap: 15px;
  border: 4px solid #000000;
  padding: 10px;
  border: 2px solid #ffffff;
  max-width: 100vw;
  max-height: 100vh;
  background: #000000ea;
  z-index: 0;
}

.imgCnl {
  background-color: #000000;
  border: solid;
  border-width: medium;
  color: #fffcfc;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  padding: 1px 7px;
  position: absolute;
  top: 6;
  right: 6;
  z-index: 3;
}

.modal-content {
  background-color: #000000;
  padding: 10px;
  border: 4px solid #ffffff;
  text-align: center;
  overflow: auto;
  box-sizing: content-box;
  width: 600px;
  max-height: 80vh;
}

.modal-content-img {
  position: relative;
}


.modal-info {
  color: rgb(255, 255, 255);
  width: 250px;
  background-color: #000000f9;
  z-index: 0;
  font-size: 18px;
}

.modal-info h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

hr.new5 {
  border: 2px solid rgb(255, 255, 255);
  margin-bottom: 20px;
  max-width: 230px;
}

.meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
}

.meta-list span {
  background: #000000;
  border: 2px solid #ffffffc6;
  color: #fff6f6;
  padding: 2px 5px;
  font-size: 14px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  flex: 33.33%;
}

.row {
  display: flex;
  padding: 1px;
}


/* GROUP MODE CSS */
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/* GROUP Gallery CSS */

#groupgallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 220px;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.group-container {
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 220px;
  background: #1515155b;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}

.group-container:hover {
  transform: translateY(5px);
}

.group-container .banner-div {
  width: 100%;
  height: 60%;
  border-bottom: 2px solid #ffffff;
}

.group-container .bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group-container .profile-div {
  position: absolute;
  bottom: 3%;
  left: 2%;
  width: 120px;
  height: 120px;
  background: #000;
  border: 2px solid #ffffff;
  z-index: 2;
}

.group-container .profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group-container:hover button {
  display: block;
  transition: .5s ease;
}

.group-container .delete-button {
  position: absolute;
  bottom: 1%;
  display: none;
  right: 1%;
  background: #000000d9;
  color: #e6e6e6;
  border: solid;
  cursor: pointer;
  font-size: 15px;
  padding: 1px 1px;
  z-index: 3;
}

.group-container:not(.logged-in) .delete-button {
  display: none;
}

.group-container.logged-in:hover .delete-button {
  display: block;
  transition: .5s ease;
}

#message {
  font-size: 30px;
  text-align: center;
}

/* GROUP Gallery CSS */
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/* LOGIN CSS */

#loginModal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 100;
  background: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.modal .container input[type="text"],
.modal .container input[type="password"] {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: #000;
  margin-top: 8px;
  margin-bottom: 19px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

#loginBtn {
  text-align: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 12;
  padding-left: 5%;
  padding-right: 5%;
  margin-inline-start: 43%;
}